body {
  background-color: rgb(255, 232, 208);
}

.card {
  position: absolute;
  width: 200px; /* standard playing cards are 2.5 : 3.5 aspect ratio */
  height: 280px;
  border: 3px solid #3c0a06;
  border-radius: 8px;
  cursor: pointer;
  background-color: brown;
  box-shadow: 4px 2px 5px rgba(0,0,0,0.4);
}

.card.passive {
  cursor: default;
}

.card.face-down {
  border: 3px solid gray;
  background: repeating-linear-gradient(
    135deg,
    #c0c0c0 0,
    #c0c0c0 16px,
    #d0d0d0 16px,
    #d0d0d0 32px
  );
}

#shaft-display {
  height: 320px; /* has to fit cards */
  line-height: 320px;
  width: 100%;
  margin-top: 140px;
  padding-left: 30px;
  background-color: rgba(0,0,0,0.1);
}

#shaft-display #title {
  text-transform: uppercase;
  font-family: 'Alfa Slab One', serif;
  font-size: 100px;
  opacity: 0.05;
  user-select: none;
}
